// GENERAL PROJECT STYLES
body {
  font-family: $userfont;
  font-size: $fontsize;
  line-height: $lineheight;

  position: relative;

  min-width: 320px;
  overflow-x: hidden;

  color: $textcolor;
  background: $orange;
}

.container {
  max-width: 1220px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.noscroll {
  overflow-y: hidden;
}

.no-xl {
  display: none;
}

.btn {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;

  padding: 10px 18px;

  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s linear;
  text-align: center;
  cursor: pointer;

  color: #ffffff;
  background: $green_light;
  border-radius: 20px;
  border: none;

  &:hover {
    background: lighten($color: $green_light, $amount: 6);
  }
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  padding-top: 6px;
  padding-bottom: 16px;
}

.logo__item {
  position: relative;

  display: inline-block;

  width: 158px;
  height: 149px;
}

.logo__ellipse {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;

  display: inline-block;

  width: 214px;
  height: 161.98px;

  transform: translate(-50%, -50%);

  background: #fecd0e;
  filter: blur(60px);
  border-radius: 50%;
}

.logo__perecrestok {
  position: absolute;
  bottom: -15px;
  left: 50%;
  z-index: 2;

  transform: translateX(-50%);
}

.contacts__phone {
  font-family: "OfficinaSansBlackC";
  font-weight: 900;
  font-size: 21px;
  line-height: 26px;

  display: block;

  margin-bottom: 1px;

  text-decoration: none;

  color: $green;
}

.contacts__email {
  font-family: "OfficinaSansBookC";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;

  text-decoration: none;
  transition: all 0.2s linear;

  color: $green;
  border-bottom: 1px solid $green;

  &:hover {
    border-color: transparent;
  }
}

.custom__checkbox {
  position: absolute;
  z-index: -1;

  opacity: 0;
}

.custom__checkbox + .custom__checkbox__label {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;

  display: inline-flex;
  align-items: flex-start;

  user-select: none;
  font-size: 14px;
  letter-spacing: -0.02em;

  color: #155b11;

  &::before {
    display: inline-block;
    flex-shrink: 0;
    flex-grow: 0;

    width: 26px;
    height: 26px;
    margin-right: 14px;

    content: "";
    cursor: pointer;

    border: 2px solid #155b11;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.custom__checkbox:checked + .custom__checkbox__label::before {
  background-image: url("../../images/dist/icons/circle__big.svg");
}

.text__accent {
  font-weight: bold;
}

.search__form {
  position: relative;

  width: 250px;
}

.search__input {
  font-family: Inter;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;

  height: 50px;
  width: 100%;
  padding-left: 24px;
  padding-right: 37px;

  background: #ffffff;
  border-radius: 30px;
  border: none;
  color: $green;

  &::placeholder {
    font-family: Inter;
    font-style: italic;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    color: $green;
  }
}

.search__btn {
  position: absolute;
  top: 50%;
  right: 12px;

  line-height: 0;

  padding: 0;

  transform: translateY(-50%);

  background: none;
  border: none;
}

.search__icon {
  display: inline-block;

  width: 21px;
  height: 20px;

  background: url("../../images/dist/icons/search.svg") no-repeat center;
}

.first__display {
  position: relative;
}

.main {
  min-height: 80vh;
}

@media (max-width: $tablet) {
  .no-md {
    display: none;
  }

  .md {
    display: inline-block;
  }

  .burger {
    font-size: 0;
    display: flex;
    align-items: center;

    position: relative;
    z-index: 7;

    height: 20px;
    width: 28px;

    cursor: pointer;
    background: none;
    border: none;

    &:focus {
      outline: 0;
    }

    &--active {
      .burger__item {
        transform: rotate(45deg);

        &::before {
          top: 0;
          transform: rotate(0);
        }

        &::after {
          top: 0;
          transform: rotate(90deg);
        }
      }
    }
  }
  .burger__item,
  .burger__item::before,
  .burger__item::after {
    display: block;

    position: absolute;
    left: 0;

    width: 100%;
    height: 4px;
    min-height: 4px;
    max-height: 4px;

    transition-duration: 0.25s;

    background-color: $green;
    border-radius: 5px;
  }

  .burger__item::before {
    content: "";
    top: -8px;
  }

  .burger__item::after {
    content: "";
    top: 8px;
  }

  .contacts {
    order: 1;

    margin-bottom: 30px;
  }
}

@media (max-width: $mobile) {
  .no-xs {
    display: none;
  }

  .xs {
    display: inline-block;
  }

  .btn {
    font-size: 14px;
    line-height: 22px;

    padding: 10px 14px;
  }

  .logo {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .logo__item {
    width: 136.92px;
    height: 129.72px;
  }

  .logo__ellipse {
    width: 186.34px;
    height: 126.26px;
  }

  .logo__perecrestok {
    left: auto;
    right: -149px;
    bottom: auto;
    top: 50%;

    transform: translateY(-50%);
  }
}
