.header {
  position: relative;

  padding-top: 20px;
  padding-bottom: 17px;

  background-color: #fff;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: $tablet) {
}

@media (max-width: $mobile) {
}
