.items {
  margin-bottom: 70px;
}

.items__inner {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.items__card {
  position: relative;

  display: flex;
  align-items: flex-start;
  justify-content: flex-end;

  height: 315px;
  max-width: 562px;
  width: 100%;
  padding-right: 33px;
  padding-top: 34px;

  background: linear-gradient(239.18deg, #ffffff 4.95%, #fecb0d 97.41%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.items__card__content {
  max-width: 352px;
  width: 100%;
}

.items__card__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;

  margin-bottom: 14px;
}

.items__card__text {
  font-size: 14px;
  line-height: 20px;

  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.items__card__img {
  position: absolute;
  bottom: -78px;
  left: -19px;

  &--2 {
    bottom: -99px;
  }
}

.items__card__decore {
  position: absolute;
  z-index: 2;

  &--1 {
    left: 0;
    top: -35px;
  }

  &--2 {
    right: 0;
    bottom: -35px;

    transform: rotate(-180deg);
  }

  &--3 {
    top: 44px;
    right: 14px;
  }

  &--4 {
    left: 255px;
    bottom: -24px;
  }

  &--5 {
    right: 112px;
    bottom: -40px;
  }

  &--6 {
    top: 0;
    right: 43px;
  }

  &--7 {
    right: 99px;
    bottom: 0;

    transform: rotate(38.76deg);
  }
}

@media (max-width: $tablet) {
  .items__inner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .items__card {
    align-items: center;

    height: 428px;
    max-width: 340px;
    margin-bottom: 87px;
    padding: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .items__card__content {
    max-width: 100%;

    text-align: center;
  }

  .items__card__text {
    &:first-child {
      font-size: 16px;
      line-height: 20px;

      max-width: 266px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 28px;
    }

    &:last-child {
      font-size: 15px;
      line-height: 20px;

      margin-left: 115px;
      max-width: 188px;

      text-align: left;
    }
  }

  .items__card__img {
    bottom: -47px;
    left: -16px;

    max-width: 193px;

    &--2 {
      bottom: -69px;

      max-width: 254px;
    }
  }

  .items__card__decore {
    &--3 {
      top: auto;
      bottom: 104px;
      right: 24px;
    }

    &--5 {
      right: 80px;
      bottom: -17px;

      max-width: 90px;
    }

    &--6 {
      top: 180px;
      right: auto;
      left: 15px;

      transform: rotate(-26.81deg);
    }

    &--7 {
      bottom: 188px;
      right: 10px;
    }
  }
}

@media (max-width: $mobile) {
}
