.result__inner {
  margin-bottom: 100px;

  .question__intro__number {
    margin-bottom: 10px;
  }
}

.result__wrapper {
  position: relative;
  z-index: 3;
}

.result__btn {
  font-size: 18px;
  line-height: 22px;

  display: block;

  margin: 0 auto;
  padding: 17px 27px;
  width: fit-content;

  border-radius: 30px;
}

.result__footer {
  position: relative;
  z-index: 3;
}

@media (max-width: $tablet) {
  .result__inner {
    .question__intro__bg {
      top: 50%;
    }
  }
}

@media (max-width: $mobile) {
  .result__btn {
    font-size: 15px;
    line-height: 22px;

    padding: 14px 31px;

    border-radius: 30px;
  }
}
