.steps {
  position: absolute;
  z-index: 3;
  left: 0;
  bottom: -250px;

  width: 100%;
}

.steps__wrapper {
  position: relative;
}

.step__cookie {
  position: absolute;
  top: -170px;
  left: 33vw;
  z-index: 2;
}

.steps__inner {
  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;
}

.steps__wrapper {
  position: relative;
}

.steps__bg {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 50%;

  height: 564px;
  width: 100%;

  transform: translateY(-50%);

  background: url("../../images/dist/steps/bg.png") no-repeat center;
}

.steps__item {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  &:nth-child(1) {
    margin-right: 12px;
  }

  &:nth-child(3) {
    .steps__content {
      position: absolute;
      top: 45%;
      right: -74px;

      transform: translateY(-50%);
    }
  }
}

.steps__img {
  margin-right: 16px;
}

.steps__item__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.4;

  text-transform: uppercase;
}

.steps__item__text {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;

  margin-bottom: 14px;

  .text__accent {
    font-size: 19px;
    font-weight: 900;
  }
}

.steps__btn {
  font-size: 15px;
  line-height: 22px;

  padding: 11px 25px;
}

@media (max-width: 1600px) {
  .step__cookie {
    left: 420px;
  }
}

@media (max-width: $tablet) {
  .steps {
    bottom: -350px;
  }

  .steps__inner {
    justify-content: space-between;

    padding: 0 15px;
  }

  .steps__item {
    flex-direction: column;

    &:first-child {
      margin-right: 0;
    }

    &:nth-child(3) {
      .steps__content {
        position: static;

        transform: none;
      }
    }
  }

  .steps__img {
    margin-right: 0;
    max-width: 80%;
  }

  .steps__item__title {
    font-size: 22px;
  }

  .steps__item__text {
    font-size: 14px;
  }

  .steps__bg {
    top: 60%;
  }
}

@media (max-width: $mobile) {
  .steps {
    position: static;
    // bottom: auto;
    // left: auto;

    padding-bottom: 81px;
  }

  .steps__inner {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0 15px;
  }

  .steps__img {
    max-width: 100%;
    width: auto;
    height: auto;
  }

  .steps__bg {
    top: 82px;

    width: 100%;
    height: 1413px;

    transform: none;

    background: url("../../images/dist/steps/bg--mobile.png") no-repeat center;
    background-size: cover !important;
  }

  .steps__item {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .steps__content {
    text-align: center;
  }

  .steps__item__title {
    font-size: 24px;

    margin-bottom: 4px;
  }

  .steps__item__text {
    font-size: 18px;
    line-height: 1.4;
  }
}
